In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
 
subject = 'Machine Learning'
 
url = 'https://en.wikipedia.org/w/api.php'
params = {
            'action':'parse',
            'prop':'text',
            'format':'json',
            'page':subject,
            'section':0,
            'redirects':''
        }
data = requests.get(url, params=params).json()
 
soup = BeautifulSoup(data['parse']['text']['*'],'html.parser')
 
infobox = soup.find('table',{'class':'infobox','class':'sidebar'})
 
a_tags = infobox.find_all('a', href=True)
 
links = []
for tag in a_tags:
    if not tag.text == '' and 'wiki' in tag['href']:
        links.append({'anchor':tag.text, 'href':tag['href']})
 
pd.DataFrame(links).head()

                  anchor                           href
0            data mining              /wiki/Data_mining
1    Supervised learning      /wiki/Supervised_learning
2  Unsupervised learning    /wiki/Unsupervised_learning
3        Online learning  /wiki/Online_machine_learning
4         Batch learning           /wiki/Batch_learning

In [22]:
contestants = pd.read_csv('contestants.csv', encoding='latin-1', index_col = 0)

contestants.drop_duplicates(inplace = True)
contestants[['birth year', 'birth month', 'birth date']] = contestants['dob'].str.split('-', 3, expand=True)
contestants[['hometown', 'homestate']] = contestants['hometown'].str.split(",", 1, expand=True)
contestants.pop('dob')
contestants.head()

,season,contestant,age,hometown,birth year,birth month,birth date,homestate
1,S01,BeBe Zahara Benet,28,Minneapolis,1981,03,20,Minnesota
2,S01,Nina Flowers,34,Bayamón,1974,02,22,Puerto Rico
3,S01,Rebecca Glasscock,26,Fort Lauderdale,1983,05,25,Florida
4,S01,Shannel,26,Las Vegas,1979,07,03,Nevada
5,S01,Ongina,26,Los Angeles,1982,01,06,California